sudo: required
language: generic

services:
  - docker

before_install:
  - docker build -t cygnetops/docker-react -f Dockerfile.dev .

script:
  - docker run -e CI=true cygnetops/docker-react npm run test

deploy:
  provider: elasticbeanstalk
  region: "us-east-2"
  app: "docker"
  env: "docker-env"
  bucket_name: "elasticbeanstalk-us-east-2-923445559289"
  bucket_path: "docker"
  on:
    branch: master
  access_key_id: $AWS_ACCESS_KEY
  secret_access_key:
    secure: "$AWS_SECRET_KEY"
